<div class="gas_station_sidebar min-h-screen flex flex-column justify-content-between align-items-center ">
  <img class="start_icon" src="../../../assets/images/pages/droplet.svg" alt="">
  <div class="icons flex flex-column align-items-center">
    <img src="../../../assets/images/pages/control_room.svg" alt="">
    <img src="../../../assets/images/pages/dashboard.svg" alt="">
    <img src="../../../assets/images/pages/elements.svg" alt="">
    <img src="../../../assets/images/pages/settings.svg" alt="">
    <img src="../../../assets/images/pages/notifications.svg" alt="">
  </div>
  <img src="../../../assets/images/pages/logout.svg" alt="">
</div>