.dashboard_right_side {
  display: fixed;
  overflow: visible;
  padding: 2.5rem 2rem;
  min-height: calc(100vh - 7rem);
  @media (max-width: 700px) {
    min-height: calc(100vh - 12rem);
  }
  @media (max-width: 1300px) {
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 453px) {
    min-height: calc(100vh - 18rem);
  }
  .head {
    color: #3d5161;
    font-family: "Montserrat-Bold";
    font-size: 1.2rem;
  }
  .bottom {
    width: 85%;
    img {
      height: 2rem;
      width: 2.35rem;
    }
    .left {
      p {
        color: #3d5161;
        font-size: 0.8rem;
        font-family: "Montserrat-Bold";
        display: flex;
        align-items: end;
      }
    }
    .right {
      display: flex;
      align-items: end;
      p {
        color: #3d5161;
        font-size: 1.1rem;
        font-family: "NunitoSans";
      }
    }
  }
}
::ng-deep {
  .dashboard_right_side {
    .p-progressbar {
      background: #f4dbd4;
      height: 5px;
      border-radius: 5px;
    }
    .p-progressbar .p-progressbar-value {
      background: #ff7f5c;
    }
    .p-progressbar .p-progressbar-label {
      display: none !important;
    }
    .raw_disable {
      .right {
        p {
          color: #b9cde2 !important;
        }
      }
      .p-progressbar {
        background: #b9cde2;
      }
    }
  }
}
