.dashboard_right_side{
  display: fixed;
  min-height:calc(100vh - 7rem) ;
  @media (max-width:700px) {
    min-height:calc(100vh - 12rem) ;

  }
  @media (max-width:453px) {
    min-height:calc(100vh - 18rem) ;

  }
  .top_container{
    min-height: 40%;
  }
}
