.dashboard {
  .content {
    padding: 3rem 1rem 1rem 3rem;
    width: 75%;
    .cards{
      .card_selected{
        width: 13rem;
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 24px;
        background: #f4dbd4;

        .amount {
          font-family: "Roboto-Regular";
          font-size: 2.4rem;
          color: #3d5161;
          span {
            font-size: 1.2rem;
          }
        }
        .arrow {
          .arrow_bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0;
            height: 0;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-top: 0.6rem solid #ff7f5c;
            margin-top: 0.4rem;
          }
          p {
            color: #ff7f5c;
            font-family: "Roboto-Regular";
            font-size: 1rem;
          }
        }

        .head {
          margin: 0.5rem 0;
          font-family: "Montserrat-Bold";
          font-size: 1rem;
          color: #3d5161;
        }
      }
      .card{
        width: 13rem;
        margin: 0.5rem;
        padding: 1rem;
        border-radius: 24px;
        background: #fff;
        .amount {
          font-family: "Roboto-Regular";
          font-size: 2.4rem;
          color: #3d5161;
          span {
            font-size: 1.2rem;
          }
        }
        .arrow {
          .arrow_bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0;
            height: 0;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-top: 0.6rem solid #ff7f5c;
            margin-top: 0.3rem;
          }
          .arrow_top {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0;
            height: 0;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-bottom: 0.6rem solid #00cbc0;
            margin-top: 0.3rem;
          }
          p.bottom {
            color: #ff7f5c;
            font-family: "Roboto-Regular";
            font-size: 0.9rem;
          }
          p.up {
            color: #00cbc0;
            font-family: "Roboto-Regular";
            font-size: 0.9rem;
          }
        }

        .head {
          margin: 0.5rem 0;
          font-family: "Montserrat-Bold";
          font-size: 1rem;
          color: #3d5161;
        }
      }
    }
    .container{
      height: calc(100vh - 440px);
      overflow-x: hidden;
      overflow-y: auto;
      .list{

        .row{
          width: 98%;
          background: #fff;
          border-radius: 30px;
          padding: 1.5rem 1rem 0.5rem;
          .header{
            .dot {
              height: 0.5rem;
              width: 0.5rem;
              background-color: #bbb;
              border-radius: 50%;
              display: inline-block;
              background: #ff7f5c 0% 0% no-repeat padding-box;
            }
            img {
              height: 2rem;
              width: 2.35rem;
            }
            p{
              color: #3D5161;
              font-family: 'Montserrat-Bold';
              font-size: 1rem;
            }
            i{
              color: #3D5161;
              font-size: 1.5rem;
              cursor: pointer;
            }

          }
          hr{
            border:1px #E0E7F1 solid;
            height: 1px;
          }
          .row_label{
            width: 33%;
            text-align: start;
            margin-bottom: 1rem;
            .title,.value{
              width: 49%;
            }
            .title{
              color: #3D5161;
              font-family: 'Montserrat-Bold';
              font-size: 0.8rem;
              margin-right: 10px;
            }
            .value{
              color: #3D5161;
              font-family: 'Montserrat-Medium';
              font-size: 0.8rem;
            }
          }
        }
        .panel_row{
          width: fit-content;
        }
      }
    }
  }
  .right_Side{
    width: 25%;
  }
}
::ng-deep{
  .p-overlayPanel{
    width: 50% !important;
  }
  .dashboard{
    .p-selectbutton {
      height: 2rem;
      border-radius: 50px;
      background: #fff;
      .p-button,
      .p-button:not(.p-disabled):not(.p-highlight):hover {
        border: none !important;
        border-radius: 50px !important;
        background: #fff;
        font-family: "Montserrat-Bold";
        font-size: 0.8rem;
        .p-button-label {
          color: #3d5161;
          font-size: 0.8rem;
          font-family: "Montserrat-Regular";
          letter-spacing: 1.4px;
        }
      }
      .p-button.p-highlight,
      .p-button.p-highlight:hover {
        background: #ff7f5c !important;
        height: 100%;
        color: #fff;
        .p-button-label {
          color: #fff;
          font-family: "Montserrat-Bold";
          font-size: 0.8rem;
        }
      }
      .p-button:focus {
        box-shadow: none !important;
        border-radius: 50px;
      }
    }

    .container{

    }
  }

}
.container{

}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar {
  width: 7px !important;
  position: relative;
  height: 100% !important;
  border-radius: 5rem;
  background: #F4DBD4;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-button {
  border-radius: 2.125rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    134deg,
    rgba(99, 99, 99, 0.4) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
  backdrop-filter: blur(17.07201385498047px);
}
/* Down */
::-webkit-scrollbar-button:vertical:increment {
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}
::-webkit-scrollbar-button:vertical:decrement {
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: none;

  filter: hue-rotate(90deg); /* 90deg rotation */
}
::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  border: 1.494px solid rgba(255, 255, 255, 0.5);
  background: #FF7F5C !important;
  width: 5px !important;
  height: 6.4375rem !important;
  backdrop-filter: blur(22.40701675415039px);
  opacity: 1;
  transition: background-color 0.2s;
}
