.gas_station_navbar {
  background: #fff;
  height: 7rem;
  @media (max-width: 700px) {
    height: 12rem;
  }
  @media (max-width: 453px) {
    height: 18rem;
  }
  .monitored,
  .last_update {
    i {
      font-size: 1.5rem;
      color: #2c3e50;
    }
    .dot {
      height: 0.5rem;
      width: 0.5rem;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      background: #ff7f5c 0% 0% no-repeat padding-box;
    }
    img {
      height: 2rem;
      width: 2.35rem;
    }
    span {
      color: #3d5161;
      font: normal normal normal 1.8rem "Roboto-Regular";
      line-height: 1.5rem;
    }
    p {
      color: #3d5161;
      font: normal normal normal 0.85rem "Roboto-Regular";
    }
  }
  .date {
    width: 29rem;
    height: 2rem;
    @media (max-width: 425px) {
      margin-bottom: 1rem;
    }
    .start {
      @media (max-width: 425px) {
        margin-bottom: 1rem;
      }
    }
    .start,
    .end {
      height: 100%;
      .arrow_right {
        width: 0;
        height: 0;
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-left: 0.6rem solid #ff7f5c;
      }
      .square {
        width: 0.8rem;
        height: 0.8rem;
        background: #ff7f5c;
      }
      .start_content,
      .end_content {
        width: 12rem;
        border-bottom: 2px solid #3d5161;
        display: flex;
        justify-content: space-between;
        p.start,
        p.end {
          color: #3d5161;
          font-family: "Roboto-Medium";
          font-size: 0.8rem;
          line-height: auto;
          line-height: 1rem;
          font-weight: 600;
          span {
            font-size: 0.7rem;
            font-family: "Roboto-Regular";
          }
        }
        i {
          font-size: 1rem;
          color: #2c3e50;
        }
      }
    }
  }
}
::ng-deep {
  .gas_station_navbar {
    .p-selectbutton {
      height: 2rem;
      border-radius: 50px;
      background: #f9f5f3;
      .p-button,
      .p-button:not(.p-disabled):not(.p-highlight):hover {
        border: none !important;
        border-radius: 50px !important;
        background: #f9f5f3;
        font-family: "Montserrat-Bold";
        font-size: 0.8rem;
        padding: 0.5rem 2rem;
        @media (max-width: 500px) {
          padding: 0.5rem 1rem !important;
        }

        .p-button-label {
          color: #3d5161;
          font-size: 0.8rem;
          font-family: "Montserrat-Regular";
          letter-spacing: 1.4px;
        }
      }
      .p-button.p-highlight,
      .p-button.p-highlight:hover {
        background: #ff7f5c !important;
        height: 100%;
        color: #fff;
        .p-button-label {
          color: #fff;
          font-family: "Montserrat-Bold";
          font-size: 0.8rem;
        }
      }
      .p-button:focus {
        box-shadow: none !important;
        border-radius: 50px;
      }
    }
  }
}
