body {
  margin: 0;
  .grid,
  .grid > .col,
  .grid > [class*="col"] {
    margin: 0;
    padding: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}
.p-overlaypanel{
  width: 50%;
  border-radius: 20px;
  hr{
    margin: 0.7rem 0;
    border:1px #E0E7F1 solid;
            height: 1px;
  }
}
.p-overlaypanel:after{
  border-bottom-color: transparent;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
  display: none;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover{
  border:2px #FF7F5C solid;
}
.p-checkbox .p-checkbox-box{
  border:2px #FF7F5C solid;

}
.p-inputtext:enabled:focus {
  border: none;
  box-shadow: none;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight.p-focus{
  box-shadow: unset !important;
  border-color: #FF7F5C;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover,.p-checkbox .p-checkbox-box.p-highlight {
  border-radius: 2.551px;
  background: #FF7F5C;
  border-color: #FF7F5C;
}
