body {
  margin: 0;
  .grid,
  .grid > .col,
  .grid > [class*="col"] {
    margin: 0;
    padding: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}
.p-overlaypanel {
  width: 40%;
  border-radius: 20px;
  hr {
    margin: 0.7rem 0;
    border: 1px #e0e7f1 solid;
    height: 1px;
  }
}
.p-overlaypanel:after {
  border-bottom-color: transparent;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
  display: none;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border: 2px #ff7f5c solid;
}
.p-checkbox .p-checkbox-box {
  border: 2px #ff7f5c solid;
}
.p-inputtext:enabled:focus {
  border: none;
  box-shadow: none;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight.p-focus {
  box-shadow: unset !important;
  border-color: #ff7f5c;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover,
.p-checkbox .p-checkbox-box.p-highlight {
  border-radius: 2.551px;
  background: #ff7f5c;
  border-color: #ff7f5c;
}
